/* --------------------------------------------------------------- */
/* Some very small adjustments to google calendar for ease of use. */
/* --------------------------------------------------------------- */

.EfQccc {
    padding: 0px;
    transition: padding 1s;
    margin-bottom: 1em;
}

.EfQccc:hover {
    /*border: solid 1px red !important;*/
    padding: 2ex;
    width: 110% !important;
    transition: padding 0.5s, width 1s;
    z-index: 9999 !important;
}

.EfQccc:hover .Jmftzc {
    font-size: 1.2em;
}
